@model Veiculo

@{
    ViewBag.Title = "Inpecionar Veículo";
}

<h2>@ViewBag.Title</h2>

<h3>Detalhes do veículo</h3>
<div>
    <h4>Veículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Chassi</dt>
        <dd>@Model.Chassi</dd>

        <dt>Montadora</dt>
        <dd>@Model.Montadora</dd>

        <dt>Modelo</dt>
        <dd>@Model.Modelo</dd>

        <dt>Placa</dt>
        <dd>@Model.Placa</dd>

        <dt>Ano de Fabricação</dt>
        <dd>@Model.AnoFabricacao</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Cancelar", "Index")
    }
</div>
